@model IEnumerable<Application.Entities.Charges>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Charges_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse_Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine_Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laundary_Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canteen_Charges)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Charges_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Charges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nurse_Charges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_Charges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine_Charges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laundary_Charges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canteen_Charges)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Charges_Id  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Charges_Id })
            </td>
        </tr>
}
    </tbody>
</table>
